.Cover_video {
    width: 100%;
    z-index: 200;
    position: absolute;
    top: 100px;
    left: 0px;
}

.Start_demo_text {
    position: absolute;
    height: 100px;
    width: 300px;
    border-radius: 5rem 5rem 5rem 5rem;
    top: 450px;
    right: 40vw;
    background-color: #ffee00;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 30px;
    color: #111111;
    transition: all .5s ease;
    z-index: 300;
}

.Start_demo_text:hover {
    background-color: #fffbc4;
    cursor: pointer;
    color: #111111;
}