.question {
    font-size: 35px;
    position: absolute;
    top: 200px;
    right: 150px;
}

.level_1 {
    position: absolute;
    height: 70px;
    width: 300px;
    border-radius: 5rem 5rem 5rem 5rem;
    top: 320px;
    right: 180px;
    background-color: #0f1855;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 30px;
    color: #dddddd;
    transition: all .3s ease;
    z-index: 300;
}

.level_1:hover {
    background-color: #a9acca;
    cursor: pointer;
    color: #111111;
}

.level_4 {
    position: absolute;
    height: 70px;
    width: 300px;
    border-radius: 5rem 5rem 5rem 5rem;
    top: 450px;
    right: 180px;
    background-color: #0f1855;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 30px;
    color: #dddddd;
    transition: all .3s ease;
    z-index: 300;
}

.level_4:hover {
    background-color: #a9acca;
    cursor: pointer;
    color: #111111;
}

.level_6strong {
    position: absolute;
    height: 70px;
    width: 300px;
    border-radius: 5rem 5rem 5rem 5rem;
    top: 580px;
    right: 180px;
    background-color: #0f1855;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 30px;
    color: #dddddd;
    transition: all .3s ease;
    z-index: 300;
}

.level_6strong:hover {
    background-color: #a9acca;
    cursor: pointer;
    color: #111111;
}

.back {
    position: absolute;
    height: 70px;
    width: 300px;
    border-radius: 5rem 5rem 5rem 5rem;
    top: 710px;
    right: 180px;
    background-color: rgb(184, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    font-size: 30px;
    color: #dddddd;
    transition: all .3s ease;
    z-index: 300;
}

.back:hover {
    background-color: #be9d9d;
    cursor: pointer;
    color: #111111;
}